* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(90deg, #462255, #313B72, #8A8D91);
  height: 100%;
  margin-bottom: 10rem;

  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
}
