.NewToDoForm {
    display: flex;
    flex-direction: column;

    margin-top: 3rem;
}

.NewToDoForm-taskInput {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;

  outline: none;
  resize: vertical;
  overflow: hidden;

  min-width: 70%;
  min-height: 2.5rem;

  font-size: inherit;
  font-family: inherit;
  color: black;
}

.NewToDoForm-addIcon {
  color: white;
}