.ToDo {
    display: flex;
    margin: 0 -3rem 0.75rem;
    padding: 0rem 2.25rem 0rem 3rem;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

.ToDo-buttons {
  color: white;
}

.edit-form {
    display: flex;
    flex-wrap: wrap;
  }
  .edit-form label {
    min-width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }
  .edit-form input {
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
  }
  .edit-form button {
    padding: 0 1.3rem;
    border: none;
    background: #ff6666;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-out;
  }

  .edit-form button:hover {
    background: #ff5e5e;
  }
  .edit-form input,
  .edit-form button {
    font-family: "Quicksand", sans-serif;
    height: 3rem;
  }
  

.ToDo-task {
    position: relative;
    transition: opacity 0.4s linear;
    width: fit-content;
    max-width: 70%;
    white-space: normal;
    overflow-wrap: break-word;

    padding: 1rem 0;
}

.ToDo-task-text {
    /* I don't know why this is needed, I just added it and it worked in IE Edge. If we remove this width, the gradient breaks in IE Edge */
    width: calc(100% + 20px);
    background-image: linear-gradient(transparent calc(100% - 2px), white 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1.5s;
}

.strikethrough {
  opacity: 0.55;
  background-size: 100% 62.5%;
}